<!DOCTYPE html>
<html dir="ltr">
<html lang="en" ng-app="jlabsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JLabs</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="banner">
        <h1>Welcome to JLabs</h1>
    </div>
    <nav class="navbar">
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">JLabs Logo</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="index.html">Home</a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Global_attributes/">MDN Web Docs -Move</a>
                <a href="links.html">In Progress</a>
                <a href="linux.html">Linux</a>
                <a href="kube.md">Kubernetes</a>
                <a href="Rhel9.md">RHEL 9</a>
                <a href="Tyme/tyme.md">Tyme Doc</a>
                <a href="Tyme/tyme.html">Tyme</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">Index</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="cart.html">Cart</a> // hover over to see stack. java, kotlin, etc.
                <a href="tyme.html">Linux</a>
                <a href="kube.md">Kubernetes</a>
                <a href="Rhel9.md">RHEL 9</a>
                <a href="Tyme/tyme.md">Tyme Doc</a>
                <a href="Tyme/tyme.html">Tyme</a>
            </div>
        </div>
        <div class="search-bar" ng-controller="SearchController as searchCtrl">
            <input type="text" placeholder="Checked out to me..." ng-model="searchCtrl.query" ng-keypress="searchCtrl.handleKeyPress($event)">
        </div>
        <div class="dropdown" ng-controller="CartController as cartCtrl">
            <button ng-click="cartCtrl.toggleMenu()">Cart ({{ cartCtrl.items.length }})</button>
            <div ng-show="cartCtrl.isMenuOpen()" class="dropdown-menu">
                <div ng-if="cartCtrl.items.length === 0">Your cart is empty.</div>
                <ul>
                    <li ng-repeat="item in cartCtrl.items">
                        {{ item.name }} - ${{ item.price }}
                        <button ng-click="cartCtrl.removeItem($index)">Remove</button>
                    </li>
                </ul>
                <a href="#" ng-if="cartCtrl.items.length > 0">Checkout</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('settingsMenu')">Settings</button>
            <div ng-show="dropdownCtrl.isMenuOpen('settingsMenu')" class="dropdown-menu">
                <a href="#">Profile</a>
                <a href="#">Preferences</a>
                <a href="#">Logout</a>
            </div>
    </nav>    
    <header>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
                <a href="https://wd5.myworkday.com/target">Workday</a>
                <a href="https://greenfield.target.com">Greenfield</a>
                <a href="https://mickra.target.com">Mickra</a>
                <a href="https://salesforce.target.com">Salesforce</a>
                <a href="https://servicenow.target.com">ServiceNow</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">TGT Opn Src</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://github.com/target">TGT Github</a>
                <a href="https://opensource.target.com">Open Source</a>
                <a href="https://tech.target.com/open-source">TGT Tech</a>
                <a href="https://opensource.target.com/security">TGT CFC</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <h2>Welcome to JLabs</h2>
            <p>
                This is a simple web application that demonstrates the use of AngularJS for creating a dynamic and interactive user interface. The application includes a navigation bar with dropdown menus, a search bar, and a shopping cart feature.
            </p>
            <h2>Setup</h2>
            <ul>
                <li>Create user email</li>
                <li>Create GitHub account</li>
                <li>Run curl command from GitHub page for OS for any missing dependencies</li>
                <pre><code class="language-bash"></code>
$ curl -fsSL https://raw.githubusercontent.com/JesseDev3/linux/refs/heads/main/el9_setup.sh -o el9_setup.sh
$ sudo bash el9_setup.sh
                </code></pre>
                <li> ** Working on the One curl command to rule them all **</li>
                <li>Set up SSH key</li>
                <li>Create a repository</li>
                <li>Clone the repository to a destination such as OneDrive, Google Drive, or Dropbox</li>
            </ul>
            <p>
                This application is designed to be a starting point for your own projects. You can customize it by adding your own features, styles, and content. The code is organized in a way that makes it easy to understand and modify.
                If hosting files such as sharepoint, OneDrive, or Google Drive, you can use the following command to create a shareable link:
            </p>
                <pre><code class="language-bash">curl -X POST -</code></pre>
        </section>
    </main>
    <footer>
        &copy; 2025 JLabs. All rights reserved.
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('jlabsApp', [])
.controller('DropdownController', function() {
    this.menus = {};
    this.toggleMenu = function(menuId) {
        this.menus[menuId] = !this.menus[menuId];
    };
    this.isMenuOpen = function(menuId) {
        return !!this.menus[menuId];
    };
})
.controller('SearchController', function() {
    this.query = '';
    this.handleKeyPress = function(event) {
        if (event.key === 'Enter') {
            console.log('Search query:', this.query);
            // Add your search logic here
        }
    };
})
.controller('CartController', function() {
    this.items = [
    ];

    this.menuOpen = false;

    this.toggleMenu = function() {
        this.menuOpen = !this.menuOpen;
    };

    this.isMenuOpen = function() {
        return this.menuOpen;
    };

    this.addItem = function(item) {
        this.items.push(item);
    };

    this.removeItem = function(index) {
        this.items.splice(index, 1);
    };
});
    </script>
</body>
</html>
