<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="jlabsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to JLabs - Explore Linux distros, Dev Tools, Networking, and more.">
    <meta name="keywords" content="JLabs, Linux, Dev Tools, Networking, Kubernetes, Open Source">
    <title>JLabs</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<!--
    <script>
        angular.module('jlabsApp').run(function($rootScope, $http) {
            $http.get('header.html')
                .then(function(response) {
                    $rootScope.headerLoaded = true;
                })
                .catch(function(error) {
                    console.error('Error loading header.html:', error);
                });
        });
    </script> 
    <div ng-include='header.html'></div>
-->
    
    <div class="banner">
        <h1>Welcome to JLabs</h1>
    </div>
    <nav class="navbar">
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">JLabs Logo</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="index.html">Home</a>
                <a href="lynx.html">Lynx</a>
                <a href="linux.html">Linux</a>
                <a href="kube.md">Kubernetes</a>
                <a href="Rhel9.md">RHEL 9</a>
                <a href="Tyme/tyme.md">Tyme Doc</a>
                <a href="Tyme/tyme.html">Tyme</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">Index</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="cart.html">Cart</a> <!-- add hover after for lang ie kotlin-->
                <a href="tyme.html">Linux</a>
                <a href="kube.md">Kubernetes</a>
                <a href="Rhel9.md">RHEL 9</a>
                <a href="Tyme/tyme.md">Tyme Doc</a>
                <a href="Tyme/tyme.html">Tyme</a>
            </div>
        </div>
        <div class="search-bar" ng-controller="SearchController as searchCtrl">
            <input type="text" placeholder="Checked out to me..." ng-model="searchCtrl.query" ng-keypress="searchCtrl.handleKeyPress($event)">
        </div>
        <div class="dropdown" ng-controller="CartController as cartCtrl">
            <button ng-click="cartCtrl.toggleMenu()">Cart ({{ cartCtrl.items.length }})</button>
            <div ng-show="cartCtrl.isMenuOpen()" class="dropdown-menu">
                <div ng-if="cartCtrl.items.length === 0">Your cart is empty.</div>
                <ul>
                    <li ng-repeat="item in cartCtrl.items">
                        {{ item.name }} - ${{ item.price }}
                        <button ng-click="cartCtrl.removeItem($index)">Remove</button>
                    </li>
                </ul>
                <a href="#" ng-if="cartCtrl.items.length > 0">Checkout</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('settingsMenu')">Settings</button>
            <div ng-show="dropdownCtrl.isMenuOpen('settingsMenu')" class="dropdown-menu">
                <a href="#">Profile</a>
                <a href="#">Preferences</a>
                <a href="#">Logout</a>
            </div>
    </nav>    
    <header>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
                <a href="https://wd5.myworkday.com/target">Workday</a>
                <a href="https://greenfield.target.com">Greenfield</a>
                <a href="https://mickra.target.com">Mickra</a>
                <a href="https://salesforce.target.com">Salesforce</a>
                <a href="https://servicenow.target.com">ServiceNow</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">TGT Opn Src</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://github.com/target">TGT Github</a>
                <a href="https://opensource.target.com">Open Source</a>
                <a href="https://tech.target.com/open-source">TGT Tech</a>
                <a href="https://opensource.target.com/security">TGT CFC</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
            </div>
        </div>
        <div class="dropdown" ng-controller="DropdownController as dropdownCtrl">
            <button ng-click="dropdownCtrl.toggleMenu('logoMenu')">QWKlinks</button>
            <div ng-show="dropdownCtrl.isMenuOpen('logoMenu')" class="dropdown-menu">
                <a href="https://mytime.target.com/">MyTime</a>
            </div>
        </div>
    </header>
    <main>
        <a href="https://github.com/jlabcloud">Github</a>
        <a href="https://github.com/jlabcloud/JLabcloud.github.io/blob/main/index-inpr.html">Github index</a>
        
        <!-- make icons dropdown if better suited for linking doc pages as well 
        also that way page opens in new tab w/o main tab following link also -->
        <div class="card-container">
            <div class="card">
            <a href="https://yum.oracle.com/oracle-linux-isos.html" target="_blank" rel="noopener noreferrer">
                <img src="https://www.kernel.org/theme/images/logos/favicon.png" alt="Linux Distros logo" style="width: 32px; height: 32px;" />
            </a> 
            <a href="https://docs.oracle.com/en/operating-systems/oracle-linux/9/" target="_blank" rel="noopener noreferrer">
                <img src="https://docs.oracle.com/sp_common/site-template/ohc-common/img/o-icon/favicon.ico" alt="Rhel logo" style="width: 32px; height: 32px;" />
            </a>
            <a href="https://www.centos.org/" target="_blank" rel="noopener noreferrer">
                <img src="https://www.centos.org/assets/icons/apple-touch-icon.png" alt="" style="width: 32px; height: 32px;" />
            </a> 
            <a href="https://www.debian.org/" target="_blank" rel="noopener noreferrer">
                <img src="https://www.debian.org/favicon.ico" alt="" style="width: 32px; height: 32px;" />
            </a>
            <a href="https://www.ubuntu.com/" target="_blank" rel="noopener noreferrer">
                <img src="https://assets.ubuntu.com/v1/f38b9c7e-COF%20apple-touch-icon.png" alt="" style="width: 32px; height: 32px;" />
            </a> 
            <a href="https://www.suse.com/" target="_blank" rel="noopener noreferrer">
                <img src="https://www.suse.com/favicon.ico" alt="" style="width: 32px; height: 32px;" />
            </a>
            <a href="https://www.fedoraproject.org/" target="_blank" rel="noopener noreferrer">
                <img src="https://www.fedoraproject.org/favicon.ico" alt="" style="width: 32px; height: 32px;" />
            </a> 
            <a href="https://www.kali.org/tools/" target="_blank" rel="noopener noreferrer">
                <img src="https://www.kali.org/images/favicon-dark.png" alt="" style="width: 32px; height: 32px;" />
            </a>
            <a href="https://www.freebsd.org/" target="_blank" rel="noopener noreferrer">
                <img src="" alt="" style="width: 32px; height: 32px;" />
            </a>
                <p>
                    <a href="https://github.com/JesseDev3/linux/blob/main/README.md"><button>QWKstrt</button></a>
                </p>
            </div>
                <div class="card">
                <a href="https://support.broadcom.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.broadcom.com/favicon-96x96.png" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="https://cloud.google.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.gstatic.com/devrel-devsite/prod/v0d244f667a3683225cca86d0ecf9b9b81b1e734e55a030bdcd3f3094b835c987/cloud/images/favicons/onecloud/super_cloud.png" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="https://www.oracle.com/cloud/" target="_blank" rel="noopener noreferrer">
                    <img src="https://docs.oracle.com/sp_common/site-template/ohc-common/img/o-icon/favicon.ico" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://portal.azure.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Microsoft_Azure.svg" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="https://docs.freebsd.org/favicon.ico" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="" alt="" style="width: 32px; height: 32px;" />
                </a>
                    <p>
                        <a href="https://github.com/JesseDev3/linux/blob/main/README.md"><button>QWKstrt</button></a>
                    </p>
                </div>
            <div class="card">
                <a href="https://developer.mozilla.org/en-US/" target="_blank" rel="noopener noreferrer">
                    <img src="https://developer.mozilla.org/favicon-48x48.bc390275e955dacb2e65.png" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://www.w3schools.com" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.w3schools.com/favicon-32x32.png" alt="" style="width: 32px; height: 32px;" />
                </a>
            </div>
            <div class="card">
                <a href="https://it-tools.tech">
                    <img src="https://it-tools.tech/favicon-32x32.png" alt="it-tools logo" />
                  </a> 
                <a href="https://podman.io/get-started" target="_blank" rel="noopener noreferrer">
                    <img src="https://podman.io/favicon.ico" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://react.dev/" target="_blank" rel="noopener noreferrer">
                    <img src="https://react.dev/apple-touch-icon.png" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="https://go.dev/" target="_blank" rel="noopener noreferrer">
                    <img src="https://go.dev/images/favicon-gopher-plain.png" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://k8s.io" target="_blank" rel="noopener noreferrer">
                    <img src="https://kubernetes.io/images/kubernetes.png" alt="" style="width: 32px; height: 32px;" />
                </a>
                <!--
                <a href="https://k8s.gcr.io" target="_blank" rel="noopener noreferrer">
                    <img src=" alt="" style="width: 32px; height: 32px;" />
                </a> 
                -->
                <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer">
                    <img src="https://angular.dev/assets/icons/apple-touch-icon.png" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://www.ansible.com/" target="_blank" rel="noopener noreferrer">
                    <img src="https://docs.ansible.com/ansible/latest/_static/images/Ansible-Mark-RGB_Black.png" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://developer.hashicorp.com/" target="_blank" rel="noopener noreferrer">
                    <img src="https://developer.hashicorp.com/favicon.ico" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="https://www.rust-lang.org/learn" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.rust-lang.org/static/images/apple-touch-icon.png?v=ngJW8jGAmR" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://www.ruby-lang.org/" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.ruby-lang.org/favicon.ico" alt="" style="width: 32px; height: 32px;" />
                </a>
                <a href="https://www.perl.org/" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn.perl.org/perlweb/favicon.ico" alt="" style="width: 32px; height: 32px;" />
                </a>                
                <a href="https://www.scala-lang.org/" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.scala-lang.org/resources/apple-touch-icon.png" alt="" style="width: 32px; height: 32px;" />
                </a> 
                <a href="https://www.swift.org/" target="_blank" rel="noopener noreferrer">
                    <img src="https://www.swift.org/apple-touch-icon-180x180.png" alt="" style="width: 32px; height: 32px;" />
                </a>
                </div>
            <div class="card">
                <h2>Networking</h2>
                <p>
                    <a href="https://tailscale.com/" target="_blank" rel="noopener noreferrer"><button>Tailscale</button></a>
                    <a href="https://www.pfsense.org/" target="_blank" rel="noopener noreferrer"><button>pfSense</button></a>
                    <a href="https://www.opnsense.org/" target="_blank" rel="noopener noreferrer"><button>OPNsense</button></a>
                    <a href="https://www.openwrt.org/" target="_blank" rel="noopener noreferrer"><button>OpenWRT</button></a>
                </p>
            </div>
            <div class="card">
                <h2>Miscellaneous</h2>
                <p>
                    <a href="https://www.dd-wrt.com/" target="_blank" rel="noopener noreferrer"><button>DD-WRT</button></a>
                    <a href="https://www.clearos.com/" target="_blank" rel="noopener noreferrer"><button>ClearOS</button></a>
                </p>
            </div>
        </div>
    </main>
    <footer>
        &copy; 2025 JLabs. All rights reserved.
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('jlabsApp', [])
.controller('DropdownController', function() {
    this.menus = {};
    this.toggleMenu = function(menuId) {
        this.menus[menuId] = !this.menus[menuId];
    };
    this.isMenuOpen = function(menuId) {
        return !!this.menus[menuId];
    };
})
.controller('SearchController', function() {
    this.query = '';
    this.handleKeyPress = function(event) {
        if (event.key === 'Enter') {
            console.log('Search query:', this.query);
            // Add your search logic here
        }
    };
})
.controller('CartController', function() {
    this.items = [
    ];

    this.menuOpen = false;

    this.toggleMenu = function() {
        this.menuOpen = !this.menuOpen;
    };

    this.isMenuOpen = function() {
        return this.menuOpen;
    };

    this.addItem = function(item) {
        this.items.push(item);
    };

    this.removeItem = function(index) {
        this.items.splice(index, 1);
    };
});
    </script>
</body>
</html>
